/* overriding skeleton.css headers */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.container {
  width: 100%;
}

.container-content{
  margin-top: 40px;
}


@media (min-width: 900px){
  .container-content {
    margin-top: 0px;
  }
}