/* overriding skeleton.css headers */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.container-content{
  margin-top: 40px;
}

.field-error {
  color: red;
}

input, textarea{
  border: 3px solid #000 !important;
}


.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #000;
    border-color: #000;
}


.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #888;
    border-color: #888;
}

@media (min-width: 900px){
  .container-content {
    margin-top: 0px;
  }
}